<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Control.Reactive" version="3.5.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="Rx-Core" version="2.0.21114" targetFramework="net462" />
  <package id="Rx-Interfaces" version="2.0.21114" targetFramework="net462" />
  <package id="Rx-Linq" version="2.0.21114" targetFramework="net462" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net462" />
  <package id="System.Diagnostics.Contracts" version="4.0.1" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.0.11" targetFramework="net462" />
  <package id="System.Reactive" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.0.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net462" />
</packages>